<template lang="pug">
v-container(fluid grid-list-xl)
	v-layout(justify-space-between)

		v-flex(xs12 sm8 md6)
			v-card(max-width="400" outlined)
				v-img.white--text(src='http://placeimg.com/320/180/nature/grayscale' style="filter: grayscale(90%)")
					v-card-title.headline.align-start.fill-height Hail Freedonia
				v-card-text
					| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus
				v-card-actions.text-center
						v-btn(text color='blue-grey darken-2 white--text')
							| Compartilhar
						v-btn(text color='yellow lighten-4 black--text')
							| Navegar

		v-flex(xs12 sm8 md6)
			v-card(max-width="400" outlined)
				v-img.white--text(src='http://placeimg.com/320/180/nature/grayscale' style="filter: grayscale(100%)")
					v-card-title.headline.align-start.fill-height Xô Samboja
				v-card-text
					| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus
				v-card-actions.text-center
						v-btn(text color='blue-grey darken-2 white--text')
							| Compartilhar
						v-btn(text color='yellow lighten-3 black--text')
							| Navegar

	v-layout(justify-space-between)

		v-flex(xs12 sm8 md6)
			v-card(max-width="400" outlined)
				v-img.white--text(src='http://placeimg.com/320/180/architecture' style="filter: grayscale(90%)")
					v-card-title.headline.align-start.fill-height Sambojano Blues
				v-card-text
					| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus
				v-card-actions.text-center
						v-btn(text color='blue-grey darken-2 white--text')
							| Compartilhar
						v-btn(text color='yellow lighten-5 black--text')
							| Navegar

		v-flex(xs12 sm8 md6)
			v-card(max-width="400" outlined)
				v-img.white--text(src='http://placeimg.com/320/180/architecture' style="filter: grayscale(100%)")
					v-card-title.headline.align-start.fill-height San Pavlov Dogs
				v-card-text
					| Um módulo pela integração de Vuetify e Nuxt com Pug e Stylus
				v-card-actions.text-center
						v-btn(text color='blue-grey darken-2 white--text')
							| Compartilhar
						v-btn(text color='yellow lighten-5 black--text')
							| Navegar
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
	components: {
		Logo,
		VuetifyLogo
	}
}
</script>
